- var inverse = 'page-break--diagonal__inverse'

mixin rowHeader(title, classes, slug)
  .page-wrapper.page-wrapper--secondary.page-wrapper--header
    .row  
      .col-xs-12.col-md-10.col-md-offset-2.m-t-xs-4
        h1.page-header.page-header--light #{title}
      .page-break--diagonal.page-break--diagonal__secondary(class=classes)

mixin rowContentHeader(title)
  - var opts = options || {}
  - var classes = opts.classes || ''
  - classes = opts.inverse ? ' d-flex d-flex--row-reverse' : ''
  - var headerClasses = opts.headerClasses || ''
  .row
    .col-md-5.col-xs-12.col-md-offset-2.start-xs
      h1(class=headerClasses) #{title}
    .col-md-5.col-xs-12.end-xs
      block

mixin rowContent(title, options)
  - var opts = options || {}
  - var classes = ''
  .row(class=classes)
    if title
      .col-md-3.col-xs-12.col-md-offset-2
        h2 #{title}
      .col-md-7.col-xs-12
        block
    else
      .col-md-10.col-xs-12.col-md-offset-2.d-flex.d-flex--align-middle
        block

mixin rowSubcontent(content)
  .row
    .col-md-7.col-xs-12.col-md-offset-5.m-b-xs-4
      p.fade #{content}

+rowHeader('Lessons', inverse)
.page-wrapper
  .page-body
    +rowContent('Wild Things')
      p 1st Grade - Students read “Where the Wild Things Are” and learned about hybridization. They then created their own Wild Things using collage and created a home for them.
    +rowContent()
      .gallery__grid.gallery__grid--md.js-gallery-wildthings
        .grid-sizer.grid-sizer--md
          - var vals = Array(7)
          each val, index in vals
            - var url = "https://s3-us-west-2.amazonaws.com/claire-dean-art/wild_things/" + (index + 17) + ".jpg"
            img.grid__item.grid-item--md.js-image(src=url)
    +rowContent('Pop Up Landscape')
      p 2nd Grade - Students learned about the elements of a landscape (foreground, middle ground, background and horizon line) by walking outside and looking at the surrounding land. Using this new knowledge, they made a 3-D pop-up landscape of their choosing that was either real or imagined.
    +rowContent()
      .gallery__grid.gallery__grid--md.js-gallery-popup
        .grid-sizer.grid-sizer--md
          - var vals = Array(7)
          each val, index in vals
            - var url = "https://s3-us-west-2.amazonaws.com/claire-dean-art/popup_landscape/" + (index + 1) + ".jpg"
            img.grid__item.grid-item--md.js-image(src=url)
    +rowContent('Constructed Landscapes')
      p 3rd Grade - Students discussed Paula McCartney’s ideation of the “Constructed Landscape” where a scenery is made using natural and unnatural parts and a photo is taken of the scene to convey a landscape. They then scavenged for things that were in nature and created props and backgrounds to add to their landscapes. Once assembled, we took zoomed in photos of each student’s work to convey the feel of a real landscape made up of unreal elements. 
    +rowContent()
      .gallery__grid.gallery__grid--md.js-gallery-constructed
        .grid-sizer.grid-sizer--md
          - var vals = Array(7)
          each val, index in vals
            - var url = "https://s3-us-west-2.amazonaws.com/claire-dean-art/constructed_landscape/" + (index + 1) + ".jpg"
            img.grid__item.grid-item--md.js-image(src=url)
    +rowContent('Animal Alter Ego')
      p High School - Students explored their own personality traits and decided what characteristics would make up their alter ego (either opposing elements of their personalities or highlighting key features of those traits). They then found an animal that mimicked those features in some way and created a self-portrait of their animal alter ego. Prior to the creation of their portraits, students examined ways in which they could combine human and animal elements through collage.
    +rowContent()
      .gallery__grid.gallery__grid--md.js-gallery-alter
        .grid-sizer.grid-sizer--md
          - var vals = Array(10)
          each val, index in vals
            - var url = "https://s3-us-west-2.amazonaws.com/claire-dean-art/alter_ego/" + (index + 1) + ".jpg"
            img.grid__item.grid-item--md.js-image(src=url)
